body    {background-color: grey;}

.navbar-brand {
    
    font-family:cursive;
}
.nav-link {
    font-family: cursive;
}
.col-md-12 {
    color:rgba(248, 85, 248, 0.993); 
     
    font-family: fantasy;
     
}

h1 {
    font-size: 400%; 
}

#chartContainerC {
    position: relative;
    right:15px;
    

}

#chartContainerD {
    position: relative;
    left: 570px;
    bottom: 370px; 
}

#chartContainer {
    position: absolute;
    right: 580px;
    bottom: 300px;

}

#chartContainerB {
    position: relative;
    left: 570px;
    bottom: 300px;
}

#chartContainerE {
    position: absolute;
    right: 50%;
    

}

#chartContainerF {
    position: absolute;
    left:50%;

}