body    {background-color: grey;}

.navbar-brand {
    
    font-family:cursive;
}
.nav-link {
    font-family: cursive;
}
.col-md-12 {
    color: rgba(170, 155, 23, 0.993); 
    font-family: fantasy;  
}