body    {background-color: grey;}

.navbar-brand {
    
    font-family:cursive;
}
.nav-link {
    font-family: cursive;
}

h1 {
    color: rgba(170, 155, 23, 0.993); 
    font-family: fantasy;  
}

p {
    color: rgb(237, 242, 245);
    font-size: large;
 }