body    {background-color: grey;}

.navbar-brand {
    
    font-family:cursive;
}
.nav-link {
    font-family: cursive;
}
.col-md-12 {
    color:rgba(248, 85, 248, 0.993); 
     
    font-family: fantasy;
}

h1 {
    font-size: 400%; 
}

#chartContainerC {
    position: relative;
    right:15px;
    

}

#chartContainerD {
    position: relative;
    left: 560px;
    bottom: 370px; 
}

#chartContainer {
    position: absolute;
    right: 580px;
    bottom: 300px;

}

#chartContainerB {
    position: absolute;
    left: 573px;
    bottom: 300px;
}

#chartContainerE {
    position: relative;
    top: 145px;
    right: 20px
    

}

#chartContainerF {
    position: absolute;
    left: 570px;
    top: 885px 
}

svg {
    background: black;  
}

#scatter {
    position: absolute;
    top:200px;
    left: 100px;
    margin-bottom: 100px;
} 

.btn {
    position:absolute;
    font-family: fantasy;
    left: 520px;
    top: 158px
}
